body {
  left: 10%;
  width: 80%;
  margin: auto;
}

.details {
  margin: auto;
  text-align: center;
}

.details h1 {
  color: #154360;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.details ul {
  font-size: 11px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.details li {
  list-style-type: none;
}

h2 {
  color: #1f618d;
}

h3 {
  color: #2874a6;
}

.experience p {
  font-style: italic;
  margin: auto;
  width: 350px;
}

.additional-skills {
  margin: auto;
  width: 350px;
  float: left;
}

.education p {
  font-style: italic;
}
