.tropical h3{
  color: #f7325e;
}
.tropical p{
  color: #7dc410;
}
.tropical{
  font-family: fantasy;
}
.popular h3{
  color: #f1948a;
}
.popular p{
  color: #2ecc71;
}
.popular{
  font-family: cursive;
}
